div {
	height:75vh;
	padding: 0;
	margin: 0;
	border: 0;
}
hr {
	color:black;
	background-color:transparent;
	margin-top: 0;
    margin-bottom: 0;
	height: 15pt;
}
html,
body {
	font-family: Courier;
	color: white;
}
.text-left {
	padding-left: 15pt;
}
.text-center {
	text-align: center;
	width: 40%;
	margin-left: 30%;
}
.section-header {
	padding-top: 30pt;
	font-size: 40pt;
	text-align: center;
}
.header {
	font-size: 72pt;
	text-align: center;
	padding-top: 50pt;
}
.arrow{
	padding-top: 230pt;
	font-size: 72pt;
	text-align: center;
}
.arrow:hover {
	cursor: pointer;
}
#header {
	height:100vh;
	text-align: center;
}
#about {
}
#join {
}
#footer {
	height:2vh;
}
#gradient {
	background: linear-gradient(red, orange, yellow, green, blue, purple);
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

