div {
	height:75vh;
	padding: 0;
	margin: 0;
	border: 0;

}
hr {
	color:black;
	background-color:black;
	margin-top: 0;
    margin-bottom: 0;
	height: 15pt;
}
html,
body {
	font-family: Courier;
	color: white;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.text-left {
	padding-left: 15pt;
}
.text-center {
	text-align: center;
}
.section-header {
	padding-top: 30pt;
	font-size: 40pt;
	text-align: center;
}
.header {
	font-size: 72pt;
	text-align: center;
	padding-top: 50pt;
}
.arrow{
	padding-top: 350pt;
	font-size: 72pt;
	text-align: center;
}
.arrow:hover {
	cursor: pointer;
}
#header {
	background-color: black;
	height:100vh;
	text-align: center;
}
#about {
	background-color: black;
}
#join {
	background-color: black;
}
#footer {
	background-color: black;
	height:2vh;
}


